{% extends "CypressGitElephantHostBundle::base.html.twig" %}

{% block body_container_main %}
    <div class="row-fluid">
        {% include "CypressGitElephantHostBundle:Repository:tabs.html.twig" with { selected: 'commits' } %}
    </div>
    {% for commit in commits %}
        {{ commit_box(commit, true) }}
    {% endfor %}
{% endblock %}