{% extends "CypressGitElephantHostBundle::base.html.twig" %}

{% block body_container_main %}
    <div class="row-fluid">
        {% include "CypressGitElephantHostBundle:Repository:tabs.html.twig" with { selected: 'commits' } %}
    </div>
    <ul>
    {% for commit in commits %}
        <li><a href="{{ path('commit', { slug: slug, sha: commit.sha }) }}">{{ commit.message }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}