{% extends "CypressGitElephantHostBundle::base.html.twig" %}

{% block body_container_main %}
    <ul>
    {% for commit in commits %}
        <li>{{ commit.message }} ({{ commit.sha }})</li>
    {% endfor %}
    </ul>
{% endblock %}