[submodule "subs/Cypress/GitElephantBundle"]
	path = subs/Cypress/GitElephantBundle
	url = git@github.com:matteosister/GitElephantBundle.git
[submodule "subs/PygmentsElephant"]
	path = subs/PygmentsElephant
	url = git@gitlab.cypresslab.net:matteosister/pygmentselephant.git
[submodule "subs/GitElephant"]
	path = subs/GitElephant
	url = git@github.com:matteosister/GitElephant.git
[submodule "subs/Cypress/CompassElephantBundle"]
	path = subs/Cypress/CompassElephantBundle
	url = git@github.com:matteosister/CompassElephantBundle.git
[submodule "subs/CompassElephant"]
	path = subs/CompassElephant
	url = git@github.com:matteosister/CompassElephant.git
[submodule "vagrant/mdxp"]
	path = vagrant/mdxp
	url = git://github.com/mdxp/cookbooks.git
[submodule "vagrant/vagrant-symfony2"]
	path = vagrant/vagrant-symfony2
	url = git://github.com/proudlygeek/vagrant-symfony2.git