[submodule "subs/Cypress/GitElephantBundle"]
	path = subs/Cypress/GitElephantBundle
	url = git@github.com:matteosister/GitElephantBundle.git
[submodule "subs/PygmentsElephant"]
	path = subs/PygmentsElephant
	url = cypressgit:PygmentsElephant
[submodule "subs/GitElephant"]
	path = subs/GitElephant
	url = git@github.com:matteosister/GitElephant.git
[submodule "subs/Cypress/CompassElephantBundle"]
	path = subs/Cypress/CompassElephantBundle
	url = git@github.com:matteosister/CompassElephantBundle.git
[submodule "subs/CompassElephant"]
	path = subs/CompassElephant
	url = git@github.com:matteosister/CompassElephant.git
[submodule "vagrant"]
	path = vagrant
	url = git@github.com:matteosister/vagrant-php54.git
