[submodule "subs/Cypress/GitElephantBundle"]
	path = subs/Cypress/GitElephantBundle
	url = git@github.com:matteosister/GitElephantBundle.git
[submodule "subs/PygmentsElephant"]
	path = subs/PygmentsElephant
	url = cypressgit:PygmentsElephant
[submodule "subs/bootstrap"]
	path = subs/bootstrap
	url = git://github.com/twitter/bootstrap.git
