web/bundles/
app/bootstrap.php.cache
app/config/parameters.yml
app/cache/*
app/logs/*
build/
vendor
composer.phar
web/css
web/js
web/assetic
src/Cypress/GitElephantHostBundle/Resources/public/components
.idea
.sass-cache
src/Cypress/GitElephantHostBundle/Resources/public/css/bootstrap/bootstrap.css
repositories/*
.rsync_cache
src/Cypress/GitElephantHostBundle/Resources/public/compass/stylesheets
.vagrant*
tmp
cookbooks
