<table class="file">
    <tr>
        {% if output is defined %}
            <td class="ln-number">
                <pre>{{ output['line_numbers']|raw }}</pre>
            </td>
            <td width="100%%" class="code">
                <div class="highlight">
                    <pre>{{ output['content']|raw }}</pre>
                </div>
            </td>
        {% else %}
            <td colspan="2">
                <div class="link">{{ link }}</div>
            </td>
        {% endif %}
    </tr>
</table>