{% extends "CypressGitElephantHostBundle::base.html.twig" %}

{% block body_js %}
    {{ parent() }}
    {% javascripts '@github_repositories' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block head_js %}
    {{ parent() }}
    <script type="text/template" id="repository_view_tpl">
        <td><a class="btn btn-primary clone-repo" href="<%= Routing.generate('gihub_clone_repository') %>">clone</a></td>
        <td class="name"><strong><%= model.get("name") %></strong></td>
        <td class="description"><%= model.get("description") %></td>
    </script>
{% endblock %}