{% extends "CypressGitElephantHostBundle::base.html.twig" %}

{% form_theme formView 'CypressGitElephantHostBundle:Form:bootstrap.html.twig' %}

{% block body_container_main %}
    <form action="" method="post" class="form-horizontal">
        <fieldset>
            <legend>New Repository</legend>
            {{ form_errors(formView) }}

            {{ form_row(formView.name) }}
            {{ form_row(formView.gitUrl) }}

            {{ form_rest(formView) }}
            <div class="controls"><input type="submit" class="btn" value="Submit" /></div>
        </fieldset>
    </form>
{% endblock %}