{% extends "CypressGitElephantHostBundle::base.html.twig" %}

{% block body_container_main %}
    <div class="bc">
        {% render "CypressGitElephantHostBundle:Repository:breadcrumb" with {slug: slug, ref: ref, path: path} %}
    </div>
    <div class="repository row-fluid" data-slug="{{ repository.slug }}">
        {% render "CypressGitElephantHostBundle:Repository:tree" with {slug: slug, ref: ref, path: path} %}
    </div>
{% endblock %}

{% block body_js %}
    {{ parent() }}
    {% javascripts '@main_js' '@repository_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}