{% extends "form_div_layout.html.twig" %}

{% block form_label %}
    {% set label_attr = label_attr|merge({'class': 'control-label'}) %}
    {{ parent() }}
{% endblock %}

{% block form_widget_simple %}
    <div class="controls">{{ parent() }}</div>
{% endblock %}

{% block form_row %}
    <div class="control-group">{{ parent() }}</div>
{% endblock %}

{% block _repository_recaptcha_widget %}
    <div class="controls">
        {{ form_widget(form) }}
        <strong>sorry for this...too much spam! :(</strong>
    </div>
{% endblock %}
